.vs/
node_modules/
ftpinfo.json
*.d.ts
BloodstarClockticaLib/bin/
BloodstarClockticaLib/obj/
BloodstarClockticaWpf/bin/
BloodstarClockticaWpf/obj/
Installer/bin/
Installer/obj/
obj/
packages/
.htpasswd
.htaccess
BloodstarClockticaWeb/bloodstarclocktica/dist/*.html
BloodstarClockticaWeb/bloodstarclocktica/dist/*.css
BloodstarClockticaWeb/bloodstarclocktica/dist/*.js
BloodstarClockticaWeb/bloodstarclocktica/dist/fonts/
BloodstarClockticaWeb/bloodstarclocktica/dist/*.js.LICENSE.txt
