.vs/
node_modules/
ftpinfo.json
*.d.ts
BloodstarClockticaWeb/bloodstarclocktica/dist/app.js
BloodstarClockticaLib/bin/
BloodstarClockticaLib/obj/
BloodstarClockticaWpf/bin/
BloodstarClockticaWpf/obj/
Installer/bin/
Installer/obj/
obj/
packages/
.htpasswd
.htaccess
