/* fade opacity in */
.appear {
    animation: appearAnim 0.2s ease-out 1;
    -webkit-animation: appearAnim 0.2s ease-out 1;
}
@keyframes appearAnim {
    from {
        opacity: 1%;
    }
}
@-webkit-keyframes appearAnim {
    from { 
        opacity: 1%;
    }
}

/* appear, sliding in from left */
.appearFromLeft {
    animation: appearFromLeftAnim 0.2s ease-out 1;
    -webkit-animation: appearFromLeftAnim 0.2s ease-out 1;
}
@keyframes appearFromLeftAnim {
    from { 
        margin-top:-18px;
        opacity: 1%;
        transform: translateX(-100%);
    }
}
@-webkit-keyframes appearFromLeftAnim {
    from { 
        margin-top:-18px;
        opacity: 1%;
        transform: translateX(-100%);
    }
}

/* fade opacity out */
.disappear {
    animation: disappearAnim 0.2s ease-out 1;
    -webkit-animation: disappearAnim 0.2s ease-out 1;
}
@keyframes disappearAnim {
    to {
        opacity: 1%;
    }
}
@-webkit-keyframes disappearAnim {
    to { 
        opacity: 1%;
    }
}

/* disappear, sliding to right */
.disappearToRight {
    animation: disappearToRightAnim 0.2s ease-out 1 !important;
    -webkit-animation: disappearToRightAnim 0.2s ease-out 1 !important;
}
@keyframes disappearToRightAnim {
    to {
        margin-top:-18px;
        opacity: 1%;
        transform: translateX(100%);
    }
}
@-webkit-keyframes disappearToRightAnim {
    to {
        margin-top:-18px;
        opacity: 1%;
        transform: translateX(100%);
    }
}