/* fade opacity in */
.appear {
    animation: appearAnim 0.2s ease-out 1;
    -webkit-animation: appearAnim 0.2s ease-out 1;
}
@keyframes appearAnim {
    from {
        opacity: 1%;
    }
}
@-webkit-keyframes appearAnim {
    from { 
        opacity: 1%;
    }
}

/* grow vertically up to full size */
.appearGrowY {
    max-height: 20px;
    overflow:hidden;
    animation: appearGrowYAnim 0.2s linear 1;
    -webkit-animation: appearGrowYAnim 0.2s linear 1;
}
@keyframes appearGrowYAnim {
    from {max-height:2px;}
}
@-webkit-keyframes appearGrowYAnim {
    from {max-height:2px;}
}

/* fade opacity out */
.disappear {
    animation: disappearAnim 0.2s linear 1;
    -webkit-animation: disappearAnim 0.2s linear 1;
}
@keyframes disappearAnim {
    to {
        opacity: 1%;
    }
}
@-webkit-keyframes disappearAnim {
    to { 
        opacity: 1%;
    }
}

/* shrink vertically */
.disappearShrinkY {
    max-height: 20px;
    overflow: hidden;
    animation: disappearShrinkYAnim 0.2s ease-out 1 !important;
    -webkit-animation: disappearShrinkYAnim 0.2s ease-out 1 !important;
}
@keyframes disappearShrinkYAnim {
    to {max-height:2px;}
}
@-webkit-keyframes disappearShrinkYAnim {
    to {max-height:2px;}
}