#character-pane {
    display:grid;
}
#character-pane > details {
    margin: 0;
    padding: 0;
    position:relative;
    min-width:24px;
}
#character-pane > details[open] {
    width:300px;
}
#character-pane > details > summary {
    text-orientation: mixed;
    writing-mode: vertical-lr;
}
#character-pane > details[open] > summary {
    text-orientation: unset;
    writing-mode: unset;
}
#character-pane > details > summary {
    flex: 0 1 0;
}
#characterlist-container {
    display: flex;
    flex-flow: column nowrap;
    position:absolute;
    left:0;
    right:0;
    top:24px;
    bottom:0;
}
#addcharacterbutton {
    margin-bottom:6px;
}
ol#characterlist {
    flex: 0 1 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display:flex;
    flex-flow: column;
    align-items: stretch;
    left: 0;
    top: 0;
    bottom: 0;
    width:300px;
}
ol#characterlist {
    user-select: none;
}
.character-list-item{
    display: flex;
    flex-flow: row nowrap;
    margin:0 3px 0 0;
    padding: 6px;
    border:1px solid #666;
    align-items: center;
    position:relative;
}
.character-list-item:hover {
    border-color: #3977FF;
}
.character-list-item::before{
    content: '';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:0%;
    background-image: linear-gradient(to right, #3977FF 2%, #3978ff40 2%);
    background-color: #3978ff80;
    z-index:-1;
}
.character-list-item::after{
    content: '∙';
    padding: 0 3px 0 9px;
    text-shadow:
        -5px -5px 0 #eee, 0px -5px 0 #eee, 5px -5px 0 #eee,
        -5px 0px 0 #eee, 5px 0px 0 #eee,
        -5px 5px 0 #eee, 0px 5px 0 #eee, 5px 5px 0 #eee;
    font-size:20px;
}
.character-list-name{
    flex: 1 1 0;
    pointer-events: none;
}
.character-list-button {
    display: none;
    background:none;
    border:none;
}
.character-list-item:hover > .character-list-button, .characterListItemSelected > .character-list-button {
    display: block;
}
.characterListItemSelected::before {
    width:100%;
}