#characterPane {
    position:relative;
}
#characterPane > details {
    margin: 0;
    padding: 0;
    min-width:24px;
}
#characterPane > details[open] {
    width: 20vw;
    min-width:300px;
}
#characterPane > details > summary {
    text-orientation: mixed;
    writing-mode: vertical-lr;
}
#characterPane > details[open] > summary {
    text-orientation: unset;
    writing-mode: unset;
}
#characterPane > details > summary {
    flex: 0 1 0;
}
#characterListContainer {
    position:absolute;
    left:0;
    right:0;
    top:60px;
    bottom:0;
    overflow-y: auto;
}
#addCharacterButton {
    width:100%;
    margin-bottom:6px;
}
ol#characterList {
    flex: 1 1 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display:flex;
    flex-flow: column;
    align-items: stretch;
    user-select: none;
}
.characterListItem{
    display: flex;
    flex-flow: row nowrap;
    margin:0 3px 0 0;
    padding: 6px;
    border:1px solid #666;
    align-items: center;
    position:relative;
}
.characterListItem:hover, .characterListItem:focus-visible{
    border-color: #3977FF;
}
.characterListItem::before{
    content: '';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    background-image: linear-gradient(to right, #3977FF 2%, #3978ff40 2%);
    background-color: #3978ff80;
    z-index:-1;
}
.characterListItem::after{
    content: '∙';
    padding: 0 3px 0 9px;
    text-shadow:
        -5px -5px 0 #eee, 0px -5px 0 #eee, 5px -5px 0 #eee,
        -5px 0px 0 #eee, 5px 0px 0 #eee,
        -5px 5px 0 #eee, 0px 5px 0 #eee, 5px 5px 0 #eee;
    font-size:20px;
}
.characterListName{
    flex: 1 1 0;
    pointer-events: none;
}
.characterListButton {
    background:none;
    border:none;
}
ol#characterList::after {
    content:'';
    height:12px;
    pointer-events: none;
}
.characterListItem:hover > .characterListButton, .characterListItem:focus-visible > .characterListButton, .characterListItemSelected > .characterListButton {
    display: block;
    border:none;
}
.characterListItemSelected::before {
    display:unset;
}
.characterListItemSelected:hover, .characterListItemSelected:focus-visible {
    border-color: #eee;
}