.dialogScrim {
    z-index:2;
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: space-around;
    align-items: center;
}
.dialogBox {
    flex: 0 1 auto;
    background: #222;
    padding: 1rem;
    border: 1px solid #3977FF;
    box-shadow: 0px 2px 4px 0px #3977FF;
    display:flex;
    flex-flow:column;
    max-width:90vw;
}
.dialogBox > .title {
    text-align: center;
    font-weight: bold;
}
.dialogBox > p, .dialogBox > pre {
    margin-block-start: 0;
}
.dialogBox > pre {
    background: #333;
    border: 1px solid #666;
    padding: 3px;
    max-height: 300px;
    overflow:auto;
}
.dialogBtnGroup {
    display:flex;
    flex-flow: row;
    align-self: stretch;
    margin-top:1em;
}
.dialogBtnGroup > button {
    flex:1;
}
.dialogBtnGroup:empty {
    display: none;
}
#newOpenDlg {z-index:2;}
#open-dlg {z-index:3;}
#sdc-dlg {z-index:4;}
#spinnerDlg {
    z-index:1000;
}
#spinnerDlg > .dialogBox {
    align-items:center;
}
.openDlgList{
    display: flex;
    flex-flow: column;
    max-height: 50vh;
    max-width: 90vw;
    overflow:auto;
    margin:0.5rem 0 0 0;
}
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #666;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2.618s linear infinite;
    -webkit-animation: spin 2.618s linear infinite;
    margin-bottom: 1em;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
#stringDlg > div > input {
    margin-top:1em;
    width: 400px;
}