body {
    background-color: #222;
    color:#eee;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    margin:0;
    padding:0;
    scrollbar-color:#666 #333;
}
h1, h2, h3, h4, h5, h6 {
    margin:3px 0;
}
a, button {
    color:#eee;
    text-decoration: none;
    padding:2px;
    border:1px solid #666;
    background:#333;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:bold;
}
a:hover, button:hover {
    border: 1px solid #3977FF;
    background:#3977FF;
}
input[type=text], input[type=password], textarea {
    background: #222;
    color:#eee;
    border: 1px solid #666;
}
input[type=text]:hover, input[type=text]:focus-visible, input[type=password]:hover, input[type=tepasswordxt]:focus-visible, textarea:hover, textarea:focus-visible {
    border: 1px solid #3977FF;
}
input[type=checkbox] {
    appearance: none;
    width: 16px;
    height: 16px;
    border:1px solid #666;
    background:#333;
    margin-right:6px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
input[type=checkbox]:hover {
    border: 1px solid #3977FF;
    background:#3977FF;
}
input[type=checkbox]:checked::before {
    content:'\2713';
}
textarea {
    resize: both;
}
#app {
    display:flex;
    flex-flow:column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#menu {
    background: #333;
    flex: none;
    display:flex;
    flex-flow:row;
    padding:0 6px;
    margin:0 0 6px 0;
    list-style: none;
    align-items: center;
}
#menu > div {
    margin:0 12px 0 0;
}
ol#menu > li {
    display:flex;
    flex-flow:column;
    padding:0 3px;
    margin:0 12px 0 0;
}
.dim {
    color:#999;
}
#main-row {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
    margin: 3px 6px;
}
#characterlistbuttons {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
#tabs {
    flex: 4;
}
#character-pane {
    display:flex;
    flex-flow:column;
    margin: 0;
    padding: 0;
    width:300px;
}
#character-pane-top {
    display:flex;
    flex-flow: row;
    flex:0;
    margin-bottom: 6px;
}
#character-pane-top > h4 {
    flex:1;
}
#character-pane-top > a {
    flex: initial;
}
#characterlist-container {
    flex:1;
    position:relative;
}
ol#characterlist {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display:flex;
    flex-flow: column;
    align-items: stretch;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:300px;
}
ol#characterlist {
    user-select: none;
}
.character-list-item{
    display: flex;
    flex-flow: row nowrap;
    margin:0 3px 0 0;
    padding: 6px;
    border:1px solid #666;
    align-items: center;
}
.character-list-item:hover {
    border-color: #3977FF;
}
.character-list-item::after{
    content: '∙';
    padding: 0 3px 0 9px;
    text-shadow:
        -5px -5px 0 #eee, 0px -5px 0 #eee, 5px -5px 0 #eee,
        -5px 0px 0 #eee, 5px 0px 0 #eee,
        -5px 5px 0 #eee, 0px 5px 0 #eee, 5px 5px 0 #eee;
    font-size:20px;
}
.character-list-name{
    flex: 1 1 0;
    margin-right:1rem;
}
.character-list-button{
    font-size:0.875rem;
}

ul#status {
    flex: none;
    display:flex;
    flex-flow:row;
    padding:0;
    margin:6px;
    list-style: none;
}
#status > li {
    margin-right:12px;
}
.dropdown{
    cursor:pointer;
    display: flex;
    flex-flow: column;
    border: 1px solid transparent;
    padding: 3px 6px;
    position:relative;
}
.dropdown-content{
    flex:auto;
    position: absolute;
    top:24px;
    left:0;
    display:none;
    flex-flow: column;
    z-index:1;
    min-width:150px;
    box-shadow: 0px 2px 4px 0px #3977FF;
}
.dropdown-content a {
    display:flex;
    justify-content: space-between;
}
.dropdown:hover {
    border-color: #3977FF;
}
.dropdown:hover .dropdown-content{
    scale:1;
    display: flex;
    flex-flow: column;
}
.dropdown-content a {
    padding: 3px 6px;
}
.dialog-scrim {
    z-index:2;
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: space-around;
    align-items: center;
}
.dialog-box {
    flex: 0 1 auto;
    background: #222;
    padding: 1rem;
    border: 1px solid #3977FF;
    box-shadow: 0px 2px 4px 0px #3977FF;
    display:flex;
    flex-flow:column;
}
.dialog-box > p {
    margin-block-start: 0;
}
.dialog-btn-group {
    display:flex;
    flex-flow: row;
    align-self: stretch;
    margin-top:1em;
}
.dialog-btn-group > button {
    flex:1;
}
#new-open-dlg {z-index:2;}
#open-dlg {z-index:3;}
#sdc-dlg {z-index:4;}
#spinner-dlg {z-index:1000;}
.open-dlg-list{
    display: flex;
    flex-flow: column;
    max-height: 50vh;
    max-width: 90vw;
    overflow:auto;
    margin:0.5rem 0 0 0;
}
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #666;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2.618s linear infinite;
    -webkit-animation: spin 2.618s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
#string-dlg > div > input {
    margin-top:1em;
    width: 400px;
}

#tabs {
    display: flex;
    flex-flow: column nowrap;
}
#tabBar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom:3px;
}
.tabButton {
    margin: 0;
    padding: 3px 6px 6px 6px;
    background:none;
    border:none;
    border-bottom: 2px solid #666;
}
.tabButton:hover {
    background:none;
    border:none;
    border-bottom: 2px solid #3977FF;
}
.selectedTabBtn, .selectedTabBtn:hover {
    padding-top: 0px;
    border-bottom: 4px solid #3977FF;
}
.separator {
    margin:6px;
    padding:1px;
    background:#666;
}
.tab {
    display:none;
}
.activeTab {
    display:block;
}
.twoColumnGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap:6px;
}
.fieldgroup {
    grid-column-start: 1;
    grid-column-end: 3;
    border-left: 4px solid #666;
    padding-left: 6px;
}