.nightOrderList {
    margin: 0;
    padding: 0;
    display:flex;
    flex-flow: column nowrap;
    list-style: none;
}
.nightOrderItem {
    display: flex;
    flex-flow: row nowrap;
    margin:0 3px 0 0;
    padding: 6px;
    border:1px solid #666;
    align-items: center;
}
.nightOrderItem:hover, .nightOrderItem:focus {
    border-color: #3977FF;
}
.nightOrderItem > * {
    margin-right:12px;
}
.nightOrderItem > *:last-child {
    margin-right:0;
}
.ordinal {
    text-align: center;
    min-width:36px;
}
.nightOrderItem::before{
    content: '∙';
    padding: 0 11px 0 6px;
    text-shadow:
        -5px -5px 0 #eee, 0px -5px 0 #eee, 5px -5px 0 #eee,
        -5px 0px 0 #eee, 5px 0px 0 #eee,
        -5px 5px 0 #eee, 0px 5px 0 #eee, 5px 5px 0 #eee;
    font-size:20px;
}
.nightOrderName {
    width:150px;
}
.nightOrderTeamSizer {
    width:100px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.nightOrderReminder {
    flex: 1 0 auto;
}
.nightOrderTeamText {
    border-radius:6px;
    background: #222222cc;
    padding: 0 6px;
}
.nightOrderTeamColor {
    border-radius:6px;
    padding: 2px;
}
.teamColorTownsfolk {
    background-color:#3977FF;
}
.teamColorOutsider {
    background-color:#46d5ff;
}
.teamColorMinion {
    background-color:#ff6900;
}
.teamColorDemon {
    background-color:#ce0100;
}
.teamColorTraveler {
    background-color:#33333380;
    background-image: linear-gradient(to right, #3977FF 47%, #eeeeee 50%, #ce0100 53%);
}
.nightOrderButton {
    background:none;
    border:none;
}