.nightOrderList {
    margin: 0;
    padding: 0;
    display:flex;
    flex-flow: column nowrap;
    list-style: none;
}
.nightOrderList::after {
    content:'';
    height:12px;
    pointer-events: none;
}
.nightOrderItem {
    display: flex;
    flex-flow: row nowrap;
    margin:0 3px 0 0;
    padding: 6px;
    border:2px solid #222;
    align-items: center;
}
.nightOrderItem:hover, .nightOrderItem:focus {
    border-color: #eee;
}
.nightOrderItem > * {
    margin-right:12px;
    flex: 0 0 auto;
}
.nightOrderItem > *:last-child {
    margin-right:0;
}
.ordinal {
    text-align: center;
    min-width:36px;
}
.nightOrderItem::before{
    content: '∙';
    padding: 0 11px 0 6px;
    text-shadow:
        -5px -5px 0 #eee, 0px -5px 0 #eee, 5px -5px 0 #eee,
        -5px 0px 0 #eee, 5px 0px 0 #eee,
        -5px 5px 0 #eee, 0px 5px 0 #eee, 5px 5px 0 #eee;
    font-size:20px;
}
.nightOrderName {
    width:150px;
}
.nightOrderReminder {
    flex: 1 1 auto;
}