<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Bloodstar Clocktica" Language="1033" Version="0.1.4" Manufacturer="Mike" UpgradeCode="d1c64936-0aaa-4531-a69b-792b7b80bd21">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Bloodstar Clocktica" Description="Custom set editor for clocktower.online" Display="expand" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ProgramMenuDir"/>
		</Feature>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLFOLDER" Name="Bloodstar Clocktica" />
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Bloodstar Clocktica">
					<Component Id="ProgramMenuDir" Guid="E5241EB4-1E0C-405A-96A2-1D963EBA0CFA">
						<RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
						<RegistryValue Root="HKCU" Key="Software\[ProductName]" Type="string" Value="" KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>
		
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="BloodstarClocktica" Guid="BC9A3250-1262-4A98-A134-108C25E8ED6B" >
				<File Source="$(var.BloodstarClockticaWpf.TargetPath)">
					<Shortcut Id="shortcut" Directory="ProgramMenuDir" Name="Bloodstar Clocktica" WorkingDirectory="INSTALLFOLDER" Icon="icon.exe" Advertise="yes"/>
				</File>
				<File Source="$(var.BloodstarClockticaWpf.TargetPath).config"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/BloodstarClockticaLib.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/Microsoft.Bcl.AsyncInterfaces.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/Renci.SshNet.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Buffers.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Memory.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Numerics.Vectors.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Runtime.CompilerServices.Unsafe.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Text.Encodings.Web.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Text.Json.dll"/>
				<File Source="$(var.BloodstarClockticaWpf.TargetDir)/System.Threading.Tasks.Extensions.dll"/>
			</Component>
		</ComponentGroup>
		
		<Icon Id="icon.exe" SourceFile="$(var.BloodstarClockticaWpf.TargetPath)"/>

		<Property Id="ARPPRODUCTICON" Value="icon.exe"/>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Publish Dialog="WelcomeDlg"
				  Control="Next"
				  Event="NewDialog"
				  Value="InstallDirDlg"
				  Order="2">1</Publish>
			<Publish Dialog="InstallDirDlg"
				  Control="Back"
				  Event="NewDialog"
				  Value="WelcomeDlg"
				  Order="2">1</Publish>
		</UI>
	</Product>
</Wix>
